In [1]:
import pandas as pd
pd.options.mode.copy_on_write = True

In [2]:
#import housing data for 2000-2009
df1 = pd.read_csv('hu-est00int-tot-clean.csv',engine='python',encoding='latin1')
df1

,SUMLEV,STATE,COUNTY,CTYNAME,HUEST_2000,HUEST_2001,HUEST_2002,HUEST_2003,HUEST_2004,HUEST_2005,HUEST_2006,HUEST_2007,HUEST_2008,HUEST_2009
0,50,1,1,Autauga County,17845,18344,18903,19333,19783,20275,20744,21214,21605,21940
1,50,1,3,Baldwin County,74907,77532,79386,81268,84785,89106,95270,100252,102011,103677
2,50,1,5,Barbour County,12481,12580,12527,12452,12373,12273,12200,12106,12009,11911
3,50,1,7,Bibb County,8362,8520,8591,8645,8703,8735,8783,8825,8863,8963
4,50,1,9,Blount County,21235,21682,21928,22147,22500,22757,23022,23290,23500,23733
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3138,50,56,37,Sweetwater County,15970,16140,16282,16410,16554,16846,17192,17551,18099,18421
3139,50,56,39,Teton County,10352,10685,10904,11105,11399,11701,12010,12299,12528,12745
3140,50,56,41,Uinta County,8029,8099,8142,8173,8203,8233,8303,8381,8661,8707
3141,50,56,43,Washakie County,3662,3686,3704,3721,3737,3757,3772,3788,3817,3827
3142,50,56,45,Weston County,3239,3280,3310,3339,3379,3418,3438,3465,3497,3521

In [3]:
#Add leading zeroes and combine to make FIPS codes that are recognizable to Tableau
df1['FIPS'] = df1['STATE'].astype(str).str.zfill(2) + df1['COUNTY'].astype(str).str.zfill(3)
df1.head()

,SUMLEV,STATE,COUNTY,CTYNAME,HUEST_2000,HUEST_2001,HUEST_2002,HUEST_2003,HUEST_2004,HUEST_2005,HUEST_2006,HUEST_2007,HUEST_2008,HUEST_2009,FIPS
0,50,1,1,Autauga County,17845,18344,18903,19333,19783,20275,20744,21214,21605,21940,01001
1,50,1,3,Baldwin County,74907,77532,79386,81268,84785,89106,95270,100252,102011,103677,01003
2,50,1,5,Barbour County,12481,12580,12527,12452,12373,12273,12200,12106,12009,11911,01005
3,50,1,7,Bibb County,8362,8520,8591,8645,8703,8735,8783,8825,8863,8963,01007
4,50,1,9,Blount County,21235,21682,21928,22147,22500,22757,23022,23290,23500,23733,01009

In [4]:
df1 = df1.drop(['SUMLEV','COUNTY'], axis=1)
df1.head()

,STATE,CTYNAME,HUEST_2000,HUEST_2001,HUEST_2002,HUEST_2003,HUEST_2004,HUEST_2005,HUEST_2006,HUEST_2007,HUEST_2008,HUEST_2009,FIPS
0,1,Autauga County,17845,18344,18903,19333,19783,20275,20744,21214,21605,21940,01001
1,1,Baldwin County,74907,77532,79386,81268,84785,89106,95270,100252,102011,103677,01003
2,1,Barbour County,12481,12580,12527,12452,12373,12273,12200,12106,12009,11911,01005
3,1,Bibb County,8362,8520,8591,8645,8703,8735,8783,8825,8863,8963,01007
4,1,Blount County,21235,21682,21928,22147,22500,22757,23022,23290,23500,23733,01009

In [5]:
#Rename columns
df1.columns=['state','county','2000-07-01','2001-07-01','2002-07-01','2003-07-01','2004-07-01','2005-07-01','2006-07-01','2007-07-01','2008-07-01','2009-07-01','FIPS']
df1.head()

,state,county,2000-07-01,2001-07-01,2002-07-01,2003-07-01,2004-07-01,2005-07-01,2006-07-01,2007-07-01,2008-07-01,2009-07-01,FIPS
0,1,Autauga County,17845,18344,18903,19333,19783,20275,20744,21214,21605,21940,01001
1,1,Baldwin County,74907,77532,79386,81268,84785,89106,95270,100252,102011,103677,01003
2,1,Barbour County,12481,12580,12527,12452,12373,12273,12200,12106,12009,11911,01005
3,1,Bibb County,8362,8520,8591,8645,8703,8735,8783,8825,8863,8963,01007
4,1,Blount County,21235,21682,21928,22147,22500,22757,23022,23290,23500,23733,01009

In [6]:
#Import housing data for 2010-2019
df2 = pd.read_csv('CO-EST2019-ANNHU-clean.csv',engine='python',encoding='latin1')
df2

,area,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,".Autauga County, Alabama","22,172","22,347","22,463","22,826","22,950","23,085","23,256","23,463","23,694","23,896"
1,".Baldwin County, Alabama","104,289","104,915","105,640","106,750","108,018","109,331","111,466","113,982","116,432","119,412"
2,".Barbour County, Alabama","11,831","11,843","11,908","11,913","11,923","11,939","11,966","12,006","12,051","12,080"
3,".Bibb County, Alabama","8,988","8,993","9,018","9,042","9,070","9,101","9,129","9,175","9,225","9,261"
4,".Blount County, Alabama","23,902","23,935","23,983","24,021","24,056","24,101","24,206","24,317","24,440","24,517"
...,...,...,...,...,...,...,...,...,...,...,...
3137,".Sweetwater County, Wyoming","18,823","18,974","19,108","19,250","19,364","19,593","19,678","19,751","19,856","19,909"
3138,".Teton County, Wyoming","12,835","12,943","13,056","13,173","13,328","13,466","13,691","13,846","14,027","14,186"
3139,".Uinta County, Wyoming","8,729","8,778","8,820","8,865","8,907","8,951","8,988","9,035","9,079","9,108"
3140,".Washakie County, Wyoming","3,833","3,834","3,849","3,850","3,855","3,858","3,863","3,866","3,869","3,868"
3141,".Weston County, Wyoming","3,535","3,540","3,547","3,549","3,557","3,559","3,565","3,568","3,569","3,568"

In [7]:
#Import housing data for 2020-2022
df3 = pd.read_csv('CO-EST2022-HU-clean.csv',engine='python',encoding='latin1')
df3

                             area     2020     2021     2022
0        .Autauga County, Alabama   24,415   24,767   25,114
1        .Baldwin County, Alabama  124,916  128,496  132,300
2        .Barbour County, Alabama   11,626   11,675   11,755
3           .Bibb County, Alabama    9,014    9,075    9,154
4         .Blount County, Alabama   24,647   24,756   24,943
...                           ...      ...      ...      ...
3139  .Sweetwater County, Wyoming   19,160   19,212   19,274
3140       .Teton County, Wyoming   13,269   13,469   13,683
3141       .Uinta County, Wyoming    8,808    8,850    8,892
3142    .Washakie County, Wyoming    3,847    3,851    3,852
3143      .Weston County, Wyoming    3,406    3,407    3,410

[3144 rows x 4 columns]

In [8]:
#Combine data from 2010-2019 and 2020-2023. 2000-2009 not merged yet because different cleaning is necessary for 2010-2022.
df23 = pd.merge(left=df2,right=df3,on='area',how='outer')
df23

,area,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,".Autauga County, Alabama","22,172","22,347","22,463","22,826","22,950","23,085","23,256","23,463","23,694","23,896","24,415","24,767","25,114"
1,".Baldwin County, Alabama","104,289","104,915","105,640","106,750","108,018","109,331","111,466","113,982","116,432","119,412","124,916","128,496","132,300"
2,".Barbour County, Alabama","11,831","11,843","11,908","11,913","11,923","11,939","11,966","12,006","12,051","12,080","11,626","11,675","11,755"
3,".Bibb County, Alabama","8,988","8,993","9,018","9,042","9,070","9,101","9,129","9,175","9,225","9,261","9,014","9,075","9,154"
4,".Blount County, Alabama","23,902","23,935","23,983","24,021","24,056","24,101","24,206","24,317","24,440","24,517","24,647","24,756","24,943"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3149,".Northwest Hills Planning Region, Connecticut",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"55,488","55,626","55,762"
3150,".South Central Connecticut Planning Region, Co...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"246,344","247,424","248,109"
3151,".Southeastern Connecticut Planning Region, Con...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"125,294","125,685","126,063"
3152,".Western Connecticut Planning Region, Connecticut",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"249,209","250,321","251,176"
3153,".Bottineau County, North Dakota",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"3,932","3,944","3,957"

In [9]:
#View counties that began to exist in 2020 (in this data, at least), or are labeled inconsistently
df23[df23['2010'].isna()]

,area,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
3142,".Chugach Census Area, Alaska",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"3,569","3,582","3,593"
3143,".Copper River Census Area, Alaska",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"2,769","2,768","2,767"
3144,".Capitol Planning Region, Connecticut",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"414,293","415,153","416,102"
3145,".Greater Bridgeport Planning Region, Connecticut",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"125,404","125,709","125,964"
3146,.Lower Connecticut River Valley Planning Regio...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"82,521","82,713","82,963"
3147,".Naugatuck Valley Planning Region, Connecticut",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"191,445","192,073","192,478"
3148,".Northeastern Connecticut Planning Region, Con...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"41,468","41,599","41,746"
3149,".Northwest Hills Planning Region, Connecticut",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"55,488","55,626","55,762"
3150,".South Central Connecticut Planning Region, Co...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"246,344","247,424","248,109"
3151,".Southeastern Connecticut Planning Region, Con...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"125,294","125,685","126,063"
3152,".Western Connecticut Planning Region, Connecticut",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"249,209","250,321","251,176"
3153,".Bottineau County, North Dakota",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"3,932","3,944","3,957"

In [10]:
#View counties that ceased to exist in 2020
df23[df23['2020'].isna()]

,area,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
92,".Valdez-Cordova Census Area, Alaska","6,107","6,126","6,139","6,146","6,157","6,158","6,163","6,173","6,194","6,207",NaN,NaN,NaN
308,".Fairfield County, Connecticut","361,495","362,240","362,999","364,932","367,220","368,895","371,254","372,950","374,465","375,360",NaN,NaN,NaN
309,".Hartford County, Connecticut","374,413","375,037","375,461","376,121","376,996","377,760","378,456","379,715","380,478","381,401",NaN,NaN,NaN
310,".Litchfield County, Connecticut","87,560","87,680","87,749","87,860","87,974","88,073","88,140","88,252","88,349","88,428",NaN,NaN,NaN
311,".Middlesex County, Connecticut","74,900","75,137","75,290","75,501","75,697","75,884","76,143","76,326","76,525","76,649",NaN,NaN,NaN
312,".New Haven County, Connecticut","362,071","362,897","363,399","363,887","364,521","365,460","366,419","367,150","367,712","368,670",NaN,NaN,NaN
313,".New London County, Connecticut","121,087","121,366","121,517","121,755","122,072","122,644","123,113","123,395","123,637","124,233",NaN,NaN,NaN
314,".Tolland County, Connecticut","58,040","58,201","58,503","58,713","58,868","59,040","59,393","59,746","60,029","60,285",NaN,NaN,NaN
315,".Windham County, Connecticut","49,079","49,245","49,319","49,388","49,459","49,543","49,610","49,717","49,824","49,966",NaN,NaN,NaN
1994,"Bottineau County, North Dakota","4,344","4,353","4,392","4,412","4,445","4,466","4,482","4,489","4,489","4,493",NaN,NaN,NaN

In [11]:
#View which counties don't have a period.
df23[~df23.area.str.contains('\.')]

,area,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
1994,"Bottineau County, North Dakota","4,344","4,353","4,392","4,412","4,445","4,466","4,482","4,489","4,489","4,493",NaN,NaN,NaN

In [12]:
#Remove period
df23['area'] = df23.area.str.replace('^\.', '', regex=True)
df23

,area,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,"Autauga County, Alabama","22,172","22,347","22,463","22,826","22,950","23,085","23,256","23,463","23,694","23,896","24,415","24,767","25,114"
1,"Baldwin County, Alabama","104,289","104,915","105,640","106,750","108,018","109,331","111,466","113,982","116,432","119,412","124,916","128,496","132,300"
2,"Barbour County, Alabama","11,831","11,843","11,908","11,913","11,923","11,939","11,966","12,006","12,051","12,080","11,626","11,675","11,755"
3,"Bibb County, Alabama","8,988","8,993","9,018","9,042","9,070","9,101","9,129","9,175","9,225","9,261","9,014","9,075","9,154"
4,"Blount County, Alabama","23,902","23,935","23,983","24,021","24,056","24,101","24,206","24,317","24,440","24,517","24,647","24,756","24,943"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3149,"Northwest Hills Planning Region, Connecticut",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"55,488","55,626","55,762"
3150,"South Central Connecticut Planning Region, Con...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"246,344","247,424","248,109"
3151,"Southeastern Connecticut Planning Region, Conn...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"125,294","125,685","126,063"
3152,"Western Connecticut Planning Region, Connecticut",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"249,209","250,321","251,176"
3153,"Bottineau County, North Dakota",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"3,932","3,944","3,957"

In [13]:
#Combine two Bottineau County records
df23=df23.groupby('area')[df23.columns[1:]].sum().reset_index()

In [14]:
#Split County name from state name
df23[['county', 'state']] = df23['area'].str.split(', ', n=1, expand=True)
df23.head()

,area,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,county,state
0,"Abbeville County, South Carolina","12,083","12,081","12,093","12,098","12,109","12,133","12,148","12,179","12,212","12,245","11,550","11,665","11,823",Abbeville County,South Carolina
1,"Acadia Parish, Louisiana","25,427","25,538","25,694","25,842","25,977","26,105","26,289","26,508","26,624","26,657","24,840","24,974","25,133",Acadia Parish,Louisiana
2,"Accomack County, Virginia","21,015","21,065","21,095","21,158","21,206","21,231","21,237","21,251","21,272","21,319","21,713","21,870","22,044",Accomack County,Virginia
3,"Ada County, Idaho","159,814","161,029","162,418","164,959","168,134","171,965","176,053","180,607","186,400","192,630","198,609","204,539","211,957",Ada County,Idaho
4,"Adair County, Iowa","3,697","3,696","3,690","3,689","3,686","3,682","3,715","3,712","3,715","3,718","3,586","3,587","3,592",Adair County,Iowa

In [15]:
#Dictionary for adding state abbreviations. From https://gist.github.com/rogerallen/1583593
us_state_to_abbrev = {
    "Alabama": "AL",
    "Alaska": "AK",
    "Arizona": "AZ",
    "Arkansas": "AR",
    "California": "CA",
    "Colorado": "CO",
    "Connecticut": "CT",
    "Delaware": "DE",
    "Florida": "FL",
    "Georgia": "GA",
    "Hawaii": "HI",
    "Idaho": "ID",
    "Illinois": "IL",
    "Indiana": "IN",
    "Iowa": "IA",
    "Kansas": "KS",
    "Kentucky": "KY",
    "Louisiana": "LA",
    "Maine": "ME",
    "Maryland": "MD",
    "Massachusetts": "MA",
    "Michigan": "MI",
    "Minnesota": "MN",
    "Mississippi": "MS",
    "Missouri": "MO",
    "Montana": "MT",
    "Nebraska": "NE",
    "Nevada": "NV",
    "New Hampshire": "NH",
    "New Jersey": "NJ",
    "New Mexico": "NM",
    "New York": "NY",
    "North Carolina": "NC",
    "North Dakota": "ND",
    "Ohio": "OH",
    "Oklahoma": "OK",
    "Oregon": "OR",
    "Pennsylvania": "PA",
    "Rhode Island": "RI",
    "South Carolina": "SC",
    "South Dakota": "SD",
    "Tennessee": "TN",
    "Texas": "TX",
    "Utah": "UT",
    "Vermont": "VT",
    "Virginia": "VA",
    "Washington": "WA",
    "West Virginia": "WV",
    "Wisconsin": "WI",
    "Wyoming": "WY",
    "District of Columbia": "DC",
    "American Samoa": "AS",
    "Guam": "GU",
    "Northern Mariana Islands": "MP",
    "Puerto Rico": "PR",
    "United States Minor Outlying Islands": "UM",
    "U.S. Virgin Islands": "VI"
}

In [16]:
#Add state abbreviation column
df23['state_abbr'] = df23.state
for state, abbr in us_state_to_abbrev.items():
    df23['state_abbr'] = df23.state_abbr.replace(state, abbr)
df23

,area,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,county,state,state_abbr
0,"Abbeville County, South Carolina","12,083","12,081","12,093","12,098","12,109","12,133","12,148","12,179","12,212","12,245","11,550","11,665","11,823",Abbeville County,South Carolina,SC
1,"Acadia Parish, Louisiana","25,427","25,538","25,694","25,842","25,977","26,105","26,289","26,508","26,624","26,657","24,840","24,974","25,133",Acadia Parish,Louisiana,LA
2,"Accomack County, Virginia","21,015","21,065","21,095","21,158","21,206","21,231","21,237","21,251","21,272","21,319","21,713","21,870","22,044",Accomack County,Virginia,VA
3,"Ada County, Idaho","159,814","161,029","162,418","164,959","168,134","171,965","176,053","180,607","186,400","192,630","198,609","204,539","211,957",Ada County,Idaho,ID
4,"Adair County, Iowa","3,697","3,696","3,690","3,689","3,686","3,682","3,715","3,712","3,715","3,718","3,586","3,587","3,592",Adair County,Iowa,IA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3148,"Yuma County, Arizona","88,070","88,509","88,928","89,550","90,173","90,882","91,540","92,432","93,558","94,641","92,390","93,791","95,464",Yuma County,Arizona,AZ
3149,"Yuma County, Colorado","4,466","4,478","4,489","4,499","4,512","4,531","4,545","4,555","4,562","4,565","4,317","4,321","4,328",Yuma County,Colorado,CO
3150,"Zapata County, Texas","6,210","6,234","6,262","6,292","6,329","6,368","6,404","6,445","6,500","6,544","6,167","6,200","6,249",Zapata County,Texas,TX
3151,"Zavala County, Texas","4,286","4,293","4,303","4,316","4,339","4,359","4,372","4,386","4,404","4,415","3,924","3,941","3,967",Zavala County,Texas,TX
3152,"Ziebach County, South Dakota",988,990,993,995,998,"1,001","1,003","1,003","1,004","1,004",882,885,886,Ziebach County,South Dakota,SD

In [17]:
#Import FIPS codes from previous cleaned data.
fips = pd.read_csv('county_unemployment_1990-2023-cleaned.csv',dtype = {'FIPS': str})
fips

               date  unemployment_rate   FIPS               county state
0        1990-01-01                6.5  01001       Autauga County    AL
1        1990-01-01                6.4  01003       Baldwin County    AL
2        1990-01-01                7.2  01005       Barbour County    AL
3        1990-01-01               12.6  01007          Bibb County    AL
4        1990-01-01                5.3  01009        Blount County    AL
...             ...                ...    ...                  ...   ...
1312867  2023-12-01                7.0  72145  Vega Baja Municipio    PR
1312868  2023-12-01                4.8  72147    Vieques Municipio    PR
1312869  2023-12-01               10.1  72149   Villalba Municipio    PR
1312870  2023-12-01                8.1  72151    Yabucoa Municipio    PR
1312871  2023-12-01               10.5  72153      Yauco Municipio    PR

[1312872 rows x 5 columns]

In [18]:
#Drop to just FIPS and county/state names
fips = fips.drop(['date','unemployment_rate'], axis=1)
fips = fips.drop_duplicates()
fips.head()

    FIPS          county state
0  01001  Autauga County    AL
1  01003  Baldwin County    AL
2  01005  Barbour County    AL
3  01007     Bibb County    AL
4  01009   Blount County    AL

In [19]:
#Display county names with a '/', which causes problems
fips.loc[fips.county.str.contains('/')]

         FIPS                          county state
69      02020  Anchorage Borough/municipality    AK
76      02110             Juneau Borough/city    AK
87      02220              Sitka Borough/city    AK
220     06075       San Francisco County/city    CA
248     08014          Broomfield County/city    CO
257     08031              Denver County/city    CO
544     15003            Honolulu County/city    HI
1222    25019           Nantucket County/town    MA
2290    42101        Philadelphia County/city    PA
154460  02282            Yakutat Borough/city    AK
772125  02275           Wrangell Borough/city    AK

In [20]:
#Remove '/' endings
fips['county'] = fips.county.str.replace('/city','', regex=False)
fips['county'] = fips.county.str.replace('/town','', regex=False)
fips['county'] = fips.county.str.replace('/municipality','', regex=False)

In [21]:
#Add FIPS based on county and state names
df23 = pd.merge(left=df23, right=fips, left_on=['county','state_abbr'], right_on=['county','state'],how='left')
df23

,area,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,county,state_x,state_abbr,FIPS,state_y
0,"Abbeville County, South Carolina","12,083","12,081","12,093","12,098","12,109","12,133","12,148","12,179","12,212","12,245","11,550","11,665","11,823",Abbeville County,South Carolina,SC,45001,SC
1,"Acadia Parish, Louisiana","25,427","25,538","25,694","25,842","25,977","26,105","26,289","26,508","26,624","26,657","24,840","24,974","25,133",Acadia Parish,Louisiana,LA,22001,LA
2,"Accomack County, Virginia","21,015","21,065","21,095","21,158","21,206","21,231","21,237","21,251","21,272","21,319","21,713","21,870","22,044",Accomack County,Virginia,VA,51001,VA
3,"Ada County, Idaho","159,814","161,029","162,418","164,959","168,134","171,965","176,053","180,607","186,400","192,630","198,609","204,539","211,957",Ada County,Idaho,ID,16001,ID
4,"Adair County, Iowa","3,697","3,696","3,690","3,689","3,686","3,682","3,715","3,712","3,715","3,718","3,586","3,587","3,592",Adair County,Iowa,IA,19001,IA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3148,"Yuma County, Arizona","88,070","88,509","88,928","89,550","90,173","90,882","91,540","92,432","93,558","94,641","92,390","93,791","95,464",Yuma County,Arizona,AZ,04027,AZ
3149,"Yuma County, Colorado","4,466","4,478","4,489","4,499","4,512","4,531","4,545","4,555","4,562","4,565","4,317","4,321","4,328",Yuma County,Colorado,CO,08125,CO
3150,"Zapata County, Texas","6,210","6,234","6,262","6,292","6,329","6,368","6,404","6,445","6,500","6,544","6,167","6,200","6,249",Zapata County,Texas,TX,48505,TX
3151,"Zavala County, Texas","4,286","4,293","4,303","4,316","4,339","4,359","4,372","4,386","4,404","4,415","3,924","3,941","3,967",Zavala County,Texas,TX,48507,TX
3152,"Ziebach County, South Dakota",988,990,993,995,998,"1,001","1,003","1,003","1,004","1,004",882,885,886,Ziebach County,South Dakota,SD,46137,SD

In [22]:
df23 = df23.drop('state_y', axis=1)

In [23]:
#Display counties with missing FIPS
df23[df23.FIPS.isna()]

,area,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,county,state_x,state_abbr,FIPS
58,"Anchorage Municipality, Alaska","113,162","113,598","113,995","114,482","114,962","115,669","116,435","117,299","118,255","119,276","118,894","119,804","120,879",Anchorage Municipality,Alaska,AK,NaN
384,"Capitol Planning Region, Connecticut",0,0,0,0,0,0,0,0,0,0,"414,293","415,153","416,102",Capitol Planning Region,Connecticut,CT,NaN
820,"DoÃ±a Ana County, New Mexico","81,796","82,807","83,527","84,531","85,376","86,054","86,871","87,706","88,910","89,968","90,070","91,262","92,726",DoÃ±a Ana County,New Mexico,NM,NaN
1105,"Greater Bridgeport Planning Region, Connecticut",0,0,0,0,0,0,0,0,0,0,"125,404","125,709","125,964",Greater Bridgeport Planning Region,Connecticut,CT,NaN
1462,"Juneau City and Borough, Alaska","13,063","13,111","13,145","13,195","13,306","13,500","13,586","13,731","13,789","13,852","14,135","14,176","14,232",Juneau City and Borough,Alaska,AK,NaN
1466,"Kalawao County, Hawaii",113,113,113,113,113,113,113,113,113,112,114,114,114,Kalawao County,Hawaii,HI,NaN
1725,Lower Connecticut River Valley Planning Region...,0,0,0,0,0,0,0,0,0,0,"82,521","82,713","82,963",Lower Connecticut River Valley Planning Region,Connecticut,CT,NaN
2050,"Naugatuck Valley Planning Region, Connecticut",0,0,0,0,0,0,0,0,0,0,"191,445","192,073","192,478",Naugatuck Valley Planning Region,Connecticut,CT,NaN
2100,"Northeastern Connecticut Planning Region, Conn...",0,0,0,0,0,0,0,0,0,0,"41,468","41,599","41,746",Northeastern Connecticut Planning Region,Connecticut,CT,NaN
2104,"Northwest Hills Planning Region, Connecticut",0,0,0,0,0,0,0,0,0,0,"55,488","55,626","55,762",Northwest Hills Planning Region,Connecticut,CT,NaN
2625,"Sitka City and Borough, Alaska","4,106","4,119","4,129","4,144","4,163","4,179","4,197","4,219","4,236","4,252","4,142","4,150","4,162",Sitka City and Borough,Alaska,AK,NaN
2645,"South Central Connecticut Planning Region, Con...",0,0,0,0,0,0,0,0,0,0,"246,344","247,424","248,109",South Central Connecticut Planning Region,Connecticut,CT,NaN
2648,"Southeastern Connecticut Planning Region, Conn...",0,0,0,0,0,0,0,0,0,0,"125,294","125,685","126,063",Southeastern Connecticut Planning Region,Connecticut,CT,NaN
3033,"Western Connecticut Planning Region, Connecticut",0,0,0,0,0,0,0,0,0,0,"249,209","250,321","251,176",Western Connecticut Planning Region,Connecticut,CT,NaN
3115,"Wrangell City and Borough, Alaska","1,421","1,424","1,430","1,434","1,438","1,443","1,448","1,453","1,456","1,464","1,274","1,276","1,281",Wrangell City and Borough,Alaska,AK,NaN
3127,"Yakutat City and Borough, Alaska",450,452,454,454,454,456,456,457,459,471,442,447,455,Yakutat City and Borough,Alaska,AK,NaN

In [24]:
#Fill in missing FIPS manually. Not ideal!
df23.loc[69,'FIPS'] = '02020'
df23.loc[77,'FIPS'] = '02110'
df23.loc[89,'FIPS'] = '02220'
df23.loc[93,'FIPS'] = '02275'
df23.loc[94,'FIPS'] = '02282'
df23.loc[548,'FIPS'] = '15005'
df23.loc[1802,'FIPS'] = '35013'
df23.loc[3144,'FIPS'] = '09110'
df23.loc[3145,'FIPS'] = '09120'
df23.loc[3146,'FIPS'] = '09130'
df23.loc[3147,'FIPS'] = '09140'
df23.loc[3148,'FIPS'] = '09150'
df23.loc[3149,'FIPS'] = '09160'
df23.loc[3150,'FIPS'] = '09170'
df23.loc[3151,'FIPS'] = '09180'
df23.loc[3152,'FIPS'] = '09190'

In [25]:
#Check that all FIPS are filled
df23[df23.FIPS.isna()]

,area,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,county,state_x,state_abbr,FIPS
58,"Anchorage Municipality, Alaska","113,162","113,598","113,995","114,482","114,962","115,669","116,435","117,299","118,255","119,276","118,894","119,804","120,879",Anchorage Municipality,Alaska,AK,NaN
384,"Capitol Planning Region, Connecticut",0,0,0,0,0,0,0,0,0,0,"414,293","415,153","416,102",Capitol Planning Region,Connecticut,CT,NaN
820,"DoÃ±a Ana County, New Mexico","81,796","82,807","83,527","84,531","85,376","86,054","86,871","87,706","88,910","89,968","90,070","91,262","92,726",DoÃ±a Ana County,New Mexico,NM,NaN
1105,"Greater Bridgeport Planning Region, Connecticut",0,0,0,0,0,0,0,0,0,0,"125,404","125,709","125,964",Greater Bridgeport Planning Region,Connecticut,CT,NaN
1462,"Juneau City and Borough, Alaska","13,063","13,111","13,145","13,195","13,306","13,500","13,586","13,731","13,789","13,852","14,135","14,176","14,232",Juneau City and Borough,Alaska,AK,NaN
1466,"Kalawao County, Hawaii",113,113,113,113,113,113,113,113,113,112,114,114,114,Kalawao County,Hawaii,HI,NaN
1725,Lower Connecticut River Valley Planning Region...,0,0,0,0,0,0,0,0,0,0,"82,521","82,713","82,963",Lower Connecticut River Valley Planning Region,Connecticut,CT,NaN
2050,"Naugatuck Valley Planning Region, Connecticut",0,0,0,0,0,0,0,0,0,0,"191,445","192,073","192,478",Naugatuck Valley Planning Region,Connecticut,CT,NaN
2100,"Northeastern Connecticut Planning Region, Conn...",0,0,0,0,0,0,0,0,0,0,"41,468","41,599","41,746",Northeastern Connecticut Planning Region,Connecticut,CT,NaN
2104,"Northwest Hills Planning Region, Connecticut",0,0,0,0,0,0,0,0,0,0,"55,488","55,626","55,762",Northwest Hills Planning Region,Connecticut,CT,NaN
2625,"Sitka City and Borough, Alaska","4,106","4,119","4,129","4,144","4,163","4,179","4,197","4,219","4,236","4,252","4,142","4,150","4,162",Sitka City and Borough,Alaska,AK,NaN
2645,"South Central Connecticut Planning Region, Con...",0,0,0,0,0,0,0,0,0,0,"246,344","247,424","248,109",South Central Connecticut Planning Region,Connecticut,CT,NaN
2648,"Southeastern Connecticut Planning Region, Conn...",0,0,0,0,0,0,0,0,0,0,"125,294","125,685","126,063",Southeastern Connecticut Planning Region,Connecticut,CT,NaN
3033,"Western Connecticut Planning Region, Connecticut",0,0,0,0,0,0,0,0,0,0,"249,209","250,321","251,176",Western Connecticut Planning Region,Connecticut,CT,NaN
3115,"Wrangell City and Borough, Alaska","1,421","1,424","1,430","1,434","1,438","1,443","1,448","1,453","1,456","1,464","1,274","1,276","1,281",Wrangell City and Borough,Alaska,AK,NaN
3127,"Yakutat City and Borough, Alaska",450,452,454,454,454,456,456,457,459,471,442,447,455,Yakutat City and Borough,Alaska,AK,NaN

In [26]:
#Merge with 2000-2009 data
df = pd.merge(left=df1, right=df23, on='FIPS',how='outer')
df

,state,county_x,2000-07-01,2001-07-01,2002-07-01,2003-07-01,2004-07-01,2005-07-01,2006-07-01,2007-07-01,...,2016,2017,2018,2019,2020,2021,2022,county_y,state_x,state_abbr
0,1.0,Autauga County,17845.0,18344.0,18903.0,19333.0,19783.0,20275.0,20744.0,21214.0,...,"23,256","23,463","23,694","23,896","24,415","24,767","25,114",Autauga County,Alabama,AL
1,1.0,Baldwin County,74907.0,77532.0,79386.0,81268.0,84785.0,89106.0,95270.0,100252.0,...,"111,466","113,982","116,432","119,412","124,916","128,496","132,300",Baldwin County,Alabama,AL
2,1.0,Barbour County,12481.0,12580.0,12527.0,12452.0,12373.0,12273.0,12200.0,12106.0,...,"11,966","12,006","12,051","12,080","11,626","11,675","11,755",Barbour County,Alabama,AL
3,1.0,Bibb County,8362.0,8520.0,8591.0,8645.0,8703.0,8735.0,8783.0,8825.0,...,"9,129","9,175","9,225","9,261","9,014","9,075","9,154",Bibb County,Alabama,AL
4,1.0,Blount County,21235.0,21682.0,21928.0,22147.0,22500.0,22757.0,23022.0,23290.0,...,"24,206","24,317","24,440","24,517","24,647","24,756","24,943",Blount County,Alabama,AL
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3167,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"91,540","92,432","93,558","94,641","92,390","93,791","95,464",Yuma County,Arizona,AZ
3168,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"4,545","4,555","4,562","4,565","4,317","4,321","4,328",Yuma County,Colorado,CO
3169,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"6,404","6,445","6,500","6,544","6,167","6,200","6,249",Zapata County,Texas,TX
3170,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"4,372","4,386","4,404","4,415","3,924","3,941","3,967",Zavala County,Texas,TX
3171,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"1,003","1,003","1,004","1,004",882,885,886,Ziebach County,South Dakota,SD

In [27]:
#Display counties from 2000-2009 that don't appear in remaining dates
df[df.county_y.isna()]

,state,county_x,2000-07-01,2001-07-01,2002-07-01,2003-07-01,2004-07-01,2005-07-01,2006-07-01,2007-07-01,...,2016,2017,2018,2019,2020,2021,2022,county_y,state_x,state_abbr
92,2.0,Wade Hampton Census Area,2065.0,2077.0,2089.0,2101.0,2112.0,2126.0,2140.0,2153.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
95,2.0,Yukon-Koyukuk Census Area,3905.0,3917.0,3937.0,3966.0,4028.0,4056.0,4053.0,4048.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
110,4.0,Yuma County,74476.0,75948.0,77238.0,78853.0,80589.0,83150.0,85394.0,86678.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
243,6.0,Yuba County,22640.0,22614.0,22710.0,22937.0,23414.0,24977.0,26460.0,27221.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
307,8.0,Yuma County,4306.0,4347.0,4380.0,4407.0,4450.0,4467.0,4466.0,4469.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1018,21.0,Clay County,9455.0,9471.0,9435.0,9380.0,9329.0,9263.0,9204.0,9135.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1315,27.0,Anoka County,108640.0,110660.0,112978.0,115500.0,118281.0,121366.0,123569.0,124894.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1446,28.0,Marion County,10449.0,10621.0,10744.0,10858.0,10979.0,11085.0,11357.0,11494.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1894,37.0,Ashe County,13382.0,13816.0,14229.0,14642.0,15037.0,15442.0,15896.0,16359.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2046,39.0,Ashtabula County,43896.0,44373.0,44765.0,45166.0,45445.0,45762.0,45915.0,46053.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2417,46.0,Shannon County,3141.0,3212.0,3274.0,3337.0,3402.0,3456.0,3487.0,3513.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2427,46.0,Ziebach County,885.0,907.0,921.0,934.0,948.0,960.0,966.0,971.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2526,48.0,Aransas County,12912.0,13299.0,13420.0,13613.0,13916.0,14167.0,14458.0,14709.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2774,48.0,Young County,8518.0,8554.0,8590.0,8594.0,8602.0,8603.0,8607.0,8613.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2775,48.0,Zapata County,6133.0,6211.0,6241.0,6248.0,6256.0,6248.0,6252.0,6249.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2776,48.0,Zavala County,4098.0,4137.0,4159.0,4175.0,4189.0,4197.0,4209.0,4230.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2914,51.0,York County,21003.0,21880.0,22513.0,23404.0,24111.0,24703.0,25181.0,25621.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2916,51.0,Bedford city,2708.0,2728.0,2744.0,2773.0,2797.0,2808.0,2819.0,2843.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2955,53.0,Asotin County,9129.0,9201.0,9265.0,9323.0,9380.0,9511.0,9628.0,9717.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [28]:
#Fill missing data so county_y can be the main county name column
df['county_y'] = df['county_y'].fillna(df['county_x'])

In [29]:
df[df.state_x.isna()]

,state,county_x,2000-07-01,2001-07-01,2002-07-01,2003-07-01,2004-07-01,2005-07-01,2006-07-01,2007-07-01,...,2016,2017,2018,2019,2020,2021,2022,county_y,state_x,state_abbr
92,2.0,Wade Hampton Census Area,2065.0,2077.0,2089.0,2101.0,2112.0,2126.0,2140.0,2153.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Wade Hampton Census Area,NaN,NaN
95,2.0,Yukon-Koyukuk Census Area,3905.0,3917.0,3937.0,3966.0,4028.0,4056.0,4053.0,4048.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Yukon-Koyukuk Census Area,NaN,NaN
110,4.0,Yuma County,74476.0,75948.0,77238.0,78853.0,80589.0,83150.0,85394.0,86678.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Yuma County,NaN,NaN
243,6.0,Yuba County,22640.0,22614.0,22710.0,22937.0,23414.0,24977.0,26460.0,27221.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Yuba County,NaN,NaN
307,8.0,Yuma County,4306.0,4347.0,4380.0,4407.0,4450.0,4467.0,4466.0,4469.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Yuma County,NaN,NaN
1018,21.0,Clay County,9455.0,9471.0,9435.0,9380.0,9329.0,9263.0,9204.0,9135.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Clay County,NaN,NaN
1315,27.0,Anoka County,108640.0,110660.0,112978.0,115500.0,118281.0,121366.0,123569.0,124894.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Anoka County,NaN,NaN
1446,28.0,Marion County,10449.0,10621.0,10744.0,10858.0,10979.0,11085.0,11357.0,11494.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Marion County,NaN,NaN
1894,37.0,Ashe County,13382.0,13816.0,14229.0,14642.0,15037.0,15442.0,15896.0,16359.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Ashe County,NaN,NaN
2046,39.0,Ashtabula County,43896.0,44373.0,44765.0,45166.0,45445.0,45762.0,45915.0,46053.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Ashtabula County,NaN,NaN
2417,46.0,Shannon County,3141.0,3212.0,3274.0,3337.0,3402.0,3456.0,3487.0,3513.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Shannon County,NaN,NaN
2427,46.0,Ziebach County,885.0,907.0,921.0,934.0,948.0,960.0,966.0,971.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Ziebach County,NaN,NaN
2526,48.0,Aransas County,12912.0,13299.0,13420.0,13613.0,13916.0,14167.0,14458.0,14709.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Aransas County,NaN,NaN
2774,48.0,Young County,8518.0,8554.0,8590.0,8594.0,8602.0,8603.0,8607.0,8613.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Young County,NaN,NaN
2775,48.0,Zapata County,6133.0,6211.0,6241.0,6248.0,6256.0,6248.0,6252.0,6249.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Zapata County,NaN,NaN
2776,48.0,Zavala County,4098.0,4137.0,4159.0,4175.0,4189.0,4197.0,4209.0,4230.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Zavala County,NaN,NaN
2914,51.0,York County,21003.0,21880.0,22513.0,23404.0,24111.0,24703.0,25181.0,25621.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,York County,NaN,NaN
2916,51.0,Bedford city,2708.0,2728.0,2744.0,2773.0,2797.0,2808.0,2819.0,2843.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Bedford city,NaN,NaN
2955,53.0,Asotin County,9129.0,9201.0,9265.0,9323.0,9380.0,9511.0,9628.0,9717.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Asotin County,NaN,NaN

In [30]:
#Manually fill in state information for the same counties. Not ideal!
df.loc[92,'state_x'] = 'Alaska'
df.loc[2418,'state_x'] = 'South Dakota'
df.loc[2917,'state_x'] = 'Virginia'
df.loc[92,'state_abbr'] = 'AK'
df.loc[2418,'state_abbr'] = 'SD'
df.loc[2917,'state_abbr'] = 'VA'

In [31]:
#Drop unneeded columns
df = df.drop(['state','county_x','area'], axis=1)
df.head()

,2000-07-01,2001-07-01,2002-07-01,2003-07-01,2004-07-01,2005-07-01,2006-07-01,2007-07-01,2008-07-01,2009-07-01,...,2016,2017,2018,2019,2020,2021,2022,county_y,state_x,state_abbr
0,17845.0,18344.0,18903.0,19333.0,19783.0,20275.0,20744.0,21214.0,21605.0,21940.0,...,"23,256","23,463","23,694","23,896","24,415","24,767","25,114",Autauga County,Alabama,AL
1,74907.0,77532.0,79386.0,81268.0,84785.0,89106.0,95270.0,100252.0,102011.0,103677.0,...,"111,466","113,982","116,432","119,412","124,916","128,496","132,300",Baldwin County,Alabama,AL
2,12481.0,12580.0,12527.0,12452.0,12373.0,12273.0,12200.0,12106.0,12009.0,11911.0,...,"11,966","12,006","12,051","12,080","11,626","11,675","11,755",Barbour County,Alabama,AL
3,8362.0,8520.0,8591.0,8645.0,8703.0,8735.0,8783.0,8825.0,8863.0,8963.0,...,"9,129","9,175","9,225","9,261","9,014","9,075","9,154",Bibb County,Alabama,AL
4,21235.0,21682.0,21928.0,22147.0,22500.0,22757.0,23022.0,23290.0,23500.0,23733.0,...,"24,206","24,317","24,440","24,517","24,647","24,756","24,943",Blount County,Alabama,AL

In [32]:
#Create dictionary for renaming 2010-2022 year columns
renamer = dict(zip(map(str,(list(range(2010,2023)))), [f'20{i}-07-01' for i in range(10,23)]))
renamer

{'2010': '2010-07-01',
 '2011': '2011-07-01',
 '2012': '2012-07-01',
 '2013': '2013-07-01',
 '2014': '2014-07-01',
 '2015': '2015-07-01',
 '2016': '2016-07-01',
 '2017': '2017-07-01',
 '2018': '2018-07-01',
 '2019': '2019-07-01',
 '2020': '2020-07-01',
 '2021': '2021-07-01',
 '2022': '2022-07-01'}

In [33]:
#Use renamer dictionary
df.rename(columns=renamer, inplace=True)
df.head()

,2000-07-01,2001-07-01,2002-07-01,2003-07-01,2004-07-01,2005-07-01,2006-07-01,2007-07-01,2008-07-01,2009-07-01,...,2016-07-01,2017-07-01,2018-07-01,2019-07-01,2020-07-01,2021-07-01,2022-07-01,county_y,state_x,state_abbr
0,17845.0,18344.0,18903.0,19333.0,19783.0,20275.0,20744.0,21214.0,21605.0,21940.0,...,"23,256","23,463","23,694","23,896","24,415","24,767","25,114",Autauga County,Alabama,AL
1,74907.0,77532.0,79386.0,81268.0,84785.0,89106.0,95270.0,100252.0,102011.0,103677.0,...,"111,466","113,982","116,432","119,412","124,916","128,496","132,300",Baldwin County,Alabama,AL
2,12481.0,12580.0,12527.0,12452.0,12373.0,12273.0,12200.0,12106.0,12009.0,11911.0,...,"11,966","12,006","12,051","12,080","11,626","11,675","11,755",Barbour County,Alabama,AL
3,8362.0,8520.0,8591.0,8645.0,8703.0,8735.0,8783.0,8825.0,8863.0,8963.0,...,"9,129","9,175","9,225","9,261","9,014","9,075","9,154",Bibb County,Alabama,AL
4,21235.0,21682.0,21928.0,22147.0,22500.0,22757.0,23022.0,23290.0,23500.0,23733.0,...,"24,206","24,317","24,440","24,517","24,647","24,756","24,943",Blount County,Alabama,AL

In [34]:
#Reorder columns
df = df[[ 'FIPS',
 'county_y',
 'state_x',
 'state_abbr',
 '2000-07-01',
 '2001-07-01',
 '2002-07-01',
 '2003-07-01',
 '2004-07-01',
 '2005-07-01',
 '2006-07-01',
 '2007-07-01',
 '2008-07-01',
 '2009-07-01',
 '2010-07-01',
 '2011-07-01',
 '2012-07-01',
 '2013-07-01',
 '2014-07-01',
 '2015-07-01',
 '2016-07-01',
 '2017-07-01',
 '2018-07-01',
 '2019-07-01',
 '2020-07-01',
 '2021-07-01',
 '2022-07-01']]

In [35]:
#Change df to be in long format
df = pd.melt(df, id_vars=['FIPS','county_y','state_x','state_abbr'], value_vars=list(df.columns)[4:])

#Drop columns with no housing data (due to that county not existing at that time)
df = df.dropna()

In [36]:
#Rename columns
df.columns= ['FIPS','county','state','state_abbr','date','housing_units']
df.head()

    FIPS          county    state state_abbr        date housing_units
0  01001  Autauga County  Alabama         AL  2000-07-01       17845.0
1  01003  Baldwin County  Alabama         AL  2000-07-01       74907.0
2  01005  Barbour County  Alabama         AL  2000-07-01       12481.0
3  01007     Bibb County  Alabama         AL  2000-07-01        8362.0
4  01009   Blount County  Alabama         AL  2000-07-01       21235.0

In [37]:
#Update data types
df['date'] = pd.to_datetime(df['date'])
df['housing_units'] = df.housing_units.replace(',','', regex=True)
df['housing_units'] = df['housing_units'].astype('int64')

In [38]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 72031 entries, 0 to 72955
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   FIPS           72031 non-null  object
 1   county         72031 non-null  object
 2   state          72031 non-null  object
 3   state_abbr     72031 non-null  object
 4   date           72031 non-null  datetime64[ns]
 5   housing_units  72031 non-null  int64
dtypes: datetime64[ns](1), int64(1), object(4)
memory usage: 3.8+ MB

In [39]:
df.head()

    FIPS          county    state state_abbr       date  housing_units
0  01001  Autauga County  Alabama         AL 2000-07-01          17845
1  01003  Baldwin County  Alabama         AL 2000-07-01          74907
2  01005  Barbour County  Alabama         AL 2000-07-01          12481
3  01007     Bibb County  Alabama         AL 2000-07-01           8362
4  01009   Blount County  Alabama         AL 2000-07-01          21235

In [40]:
#Dictionary for updating FIPS and county names so they are recognized by Tableau.
#See here for details: https://github.com/spearitual/Updated-FIPS-codes-for-Tableau 
FIPS_swapper = {
 '09001': '09190',
 '09013': '09170',
 '02270': '02158',
 '46113': '46102',
 '51515': '51019',
 '51540': '51003',
 '51580': '51005',
 '51820': '51015',
 '51680': '51031',
 '51640': '51035',
 '51730': '51053',
 '51610': '51059',
 '51840': '51069',
 '51595': '51081',
 '51690': '51089',
 '51830': '51095',
 '15005': '15009',
 '51750': '51121',
 '51590': '51143',
 '51670': '51149',
 '51685': '51153',
 '51775': '51161',
 '51678': '51163',
 '51660': '51165',
 '51620': '51175',
 '51630': '51177',
 '51520': '51191',
 '51720': '51195',
 '51735': '51199',
 '51790': '51015',
 '51570': '51053',
 '51600': '51059',
 '51683': '51153',
 '51530': '51163'}
name_swapper = {
 'Bedford city': 'Bedford County',
 'Charlottesville city': 'Albemarle + Charlottesville',
 'Covington city': 'Alleghany + Covington',
 'Waynesboro city': 'Augusta, Staunton + Waynesboro',
 'Lynchburg city': 'Campbell + Lynchburg',
 'Galax city': 'Carroll + Galax',
 'Petersburg city': 'Dinwiddie, Colonial Heights + Petersburg',
 'Falls Church city': 'Fairfax, Fairfax City + Falls Church',
 'Winchester city': 'Frederick + Winchester',
 'Emporia city': 'Greensville + Emporia',
 'Martinsville city': 'Henry + Martinsville',
 'Williamsburg city': 'James City + Williamsburg',
 'Kalawao County': 'Maui + Kalawao',
 'Radford city': 'Montgomery + Radford',
 'Danville city': 'Pittsylvania + Danville',
 'Hopewell city': 'Prince George + Hopewell',
 'Manassas Park city': 'Prince William, Manassas + Manassas Park',
 'Salem city': 'Roanoke + Salem',
 'Lexington city': 'Rockbridge, Buena Vista + Lexington',
 'Harrisonburg city': 'Rockingham + Harrisonburg',
 'Franklin city': 'Southampton + Franklin',
 'Fredericksburg city': 'Spotsylvania + Fredericksburg',
 'Bristol city': 'Washington + Bristol',
 'Norton city': 'Wise + Norton',
 'Poquoson city': 'York + Poquoson',
 'Staunton city': 'Augusta, Staunton + Waynesboro',
 'Colonial Heights city': 'Dinwiddie, Colonial Heights + Petersburg',
 'Fairfax city': 'Fairfax, Fairfax City + Falls Church',
 'Manassas city': 'Prince William, Manassas + Manassas Park',
 'Buena Vista city': 'Rockbridge, Buena Vista + Lexington',
 'Albemarle County': 'Albemarle + Charlottesville',
 'Alleghany County': 'Alleghany + Covington',
 'Augusta County': 'Augusta, Staunton + Waynesboro',
 'Campbell County': 'Campbell + Lynchburg',
 'Carroll County': 'Carroll + Galax',
 'Dinwiddie County': 'Dinwiddie, Colonial Heights + Petersburg',
 'Fairfax County': 'Fairfax, Fairfax City + Falls Church',
 'Frederick County': 'Frederick + Winchester',
 'Greensville County': 'Greensville + Emporia',
 'Henry County': 'Henry + Martinsville',
 'James City County': 'James City + Williamsburg',
 'Maui County': 'Maui + Kalawao',
 'Montgomery County': 'Montgomery + Radford',
 'Pittsylvania County': 'Pittsylvania + Danville',
 'Prince George County': 'Prince George + Hopewell',
 'Prince William County': 'Prince William, Manassas + Manassas Park',
 'Roanoke County': 'Roanoke + Salem',
 'Rockbridge County': 'Rockbridge, Buena Vista + Lexington',
 'Rockingham County': 'Rockingham + Harrisonburg',
 'Southampton County': 'Southampton + Franklin',
 'Spotsylvania County': 'Spotsylvania + Fredericksburg',
 'Washington County': 'Washington + Bristol',
 'Wise County': 'Wise + Norton',
 'York County': 'York + Poquoson',
 'Wade Hampton Census Area':'Kusilvak Census Area'
}

In [41]:
#Update FIPS and names
for old_FIPS, new_FIPS in FIPS_swapper.items():
    df['FIPS'] = df.FIPS.replace(old_FIPS, new_FIPS)
for old_name, new_name in name_swapper.items():
    df['county'] = df.county.replace(old_name, new_name)
#Sum housing unit data for counties that now have the same name
df = df.groupby(['FIPS','date','county','state','state_abbr']).agg('sum').reset_index()

In [42]:
#Combine county and state abbreviation so each county has a unique name
df['county_state'] = df.county + ', ' + df.state_abbr

#Reorder columns
df = df[['FIPS','date','county','state','state_abbr','county_state','housing_units']]
df

,FIPS,date,county,state,state_abbr,county_state,housing_units
0,01001,2000-07-01,Autauga County,Alabama,AL,"Autauga County, AL",17845
1,01001,2001-07-01,Autauga County,Alabama,AL,"Autauga County, AL",18344
2,01001,2002-07-01,Autauga County,Alabama,AL,"Autauga County, AL",18903
3,01001,2003-07-01,Autauga County,Alabama,AL,"Autauga County, AL",19333
4,01001,2004-07-01,Autauga County,Alabama,AL,"Autauga County, AL",19783
...,...,...,...,...,...,...,...
71405,56045,2018-07-01,Weston County,Wyoming,WY,"Weston County, WY",3569
71406,56045,2019-07-01,Weston County,Wyoming,WY,"Weston County, WY",3568
71407,56045,2020-07-01,Weston County,Wyoming,WY,"Weston County, WY",3406
71408,56045,2021-07-01,Weston County,Wyoming,WY,"Weston County, WY",3407
71409,56045,2022-07-01,Weston County,Wyoming,WY,"Weston County, WY",3410

In [43]:
#Export to csv
#df.to_csv('county_housing_units_2000-2022_cleaned_3.csv', index=False)